/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
form > label {
  display: block;
  margin: 15px;
}

form > input {
  display: block;
  margin: 15px;
}

h1,
button,
.instructions,
.questionOne,
.questionTwo,
.questionThree {
  display: block;
  margin: 15px;
}

.example {
  color: red;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
